html {
  padding-top: 45px;
  padding-bottom: 45px;
}

body {
  border: 10px solid grey;
  width: 420px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
  margin: auto;
}

.formula {
  border: 3px solid grey;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 400px;
  font-size: 30px;
}

h2 {
  font-size: 20px;
}
